body {
}

h1 {
}

p {
}

input {

}

button {
    background-color: #D2E1F1;
    border-radius: 10px;
    border-color: #000000;
}

p.active {
    display: block;
}

p.inactive {
    display: none;
}

div.active {
    display: block;
}

div.inactive {
    display: none;
}

input.active {
    display: inline;
}

input.inactive {
    display: none;
}

label.active {
    display: inline;
}

label.inactive {
    display: none;
}

button.active {
    /* display: block makes the buttons vertical */
    display: inline;
}

button.inactive {
    display: none;
}

center {
    text-align: center;
}
