body {
}

h1 {
}

p {
}

p.active {
    display: block;
}

p.inactive {
    display: none;
}

div.active {
    display: block;
}

div.inactive {
    display: none;
}

input.active {
    display: block;
}

input.inactive {
    display: none;
}

button.active {
    /* display: block makes the buttons vertical */
    display: inline;
}

button.inactive {
    display: none;
}

center {
    text-align: center;
}
